p {
  padding-top: 6%;
}

small {
  font-size: 15px;
}

h2 {
  padding-top: 6%;
}

.navlink {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 20px;
}

.copyright {
  color: white;
  padding: 10px;
  font-size: .25em;
}

.sublink {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 10px;
}

.btn-xl {
    margin: auto;
    padding: 10px 10px;
    font-size: 150%;
    border-radius: 0px;
}

#button2 {
    padding-bottom: 17px;
    padding-left: 50px;
    padding-right: 50px;
}

.greenButton {
  margin: auto;
}

.footerImg {
  padding-top: 1em;
}

.footlinks {
  text-align: right;
}

@media screen and (max-width: 500px) {
    .nav {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    #lfcp {
      width: 100%;
    }
}

@media screen and (min-width: 850px) {

}
